/* file: footer.css */

.main-footer {
    background-color: #28384A; /* xanh đậm */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00aced; /* hiệu ứng hover màu xanh nhạt */
}

.icon.fb:hover { color: #1877f2; }      /* Facebook xanh */
.icon.ig:hover { color: #e1306c; }      /* Instagram hồng */
.icon.yt:hover { color: #ff0000; }      /* YouTube đỏ */
.icon.mail:hover { color: #fbbc05; }    /* Email vàng */
